fastapi
uvicorn
PyJWT>=2.8.0
livekit-agents
livekit-plugins-openai
livekit-plugins-deepgram
livekit-plugins-cartesia
livekit-plugins-silero
livekit-plugins-google
livekit-plugins-noise-cancellation
redis
arq
python-dotenv
requests
aiohttp
mysql-connector-python
supabase
postgrest
